html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-content {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-main {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  line-height: 36px;
  @extend %beb-400;
  color: #000;
  margin-bottom: 45px;
  span {
    color: #11a89d;
  }
  .span-2 {
    color: #ef3fa8;
  }
}
.btn {
  display: block;
  font-size: 15px;
  line-height: 19px;
  @extend %rob-400;
  color: #fff;
  background: #036c64;
  border-radius: 20px 20px 20px 0px;
  padding: 15px 30px;
  max-width: 230px;
  width: 100%;
}
