%beb-400{
  font-family: BebasNeue;
  font-weight: 400;
}
%mon-700{
  font-family: Montserrat;
  font-weight: 700;
}
%mon-500{
  font-family: Montserrat;
  font-weight: 500;
}
%mon-400{
  font-family: Montserrat;
  font-weight: 400;
}
%ope-300{
  font-family: OpenSans;
  font-weight: 300;
}
%ope-400{
  font-family: OpenSans;
  font-weight: 400;
}
%ope-600{
  font-family: OpenSans;
  font-weight: 600;
}
%ope-700{
  font-family: OpenSans;
  font-weight: 700;
}
%rob-400{
  font-family: Roboto;
  font-weight: 400;
}
%rob-500{
  font-family: Roboto;
  font-weight: 500;
}